<br>
<br>
<br>
<footer class="container-sm">
    <div class="footer-legal">
        <div class="row">
            <p class="col-6 offset-3">
                Wesley's Deck Manager is unofficial Fan Content permitted under the Fan Content Policy. Not
                approved/endorsed by Wizards. Portions of the materials used are property of Wizards of the Coast.
                &copy;Wizards of the Coast LLC.
            </p>
        </div>
        <div class="row">
            <p class="col-6 offset-3">
                The Magic: The Gathering card data utilized by this site was acquired from a combination of <a
                    href="https://scryfall.com/docs/api">Scryfall's public API</a> and a public card data file included
                with
                Magic: The Gathering Arena. Wesley's Deck Manager is not produced by, endorsed by, supported by, or
                affiliated with Scryfall or Scryfall, LLC.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="footer-github col-6 offset-3">
            This website is open source! <a href="https://github.com/wesleystedman/deck-manager" target="_blank">See the
                project on GitHub here.</a>
        </div>
    </div>
</footer>

</body>

</html>