<footer>
    <div>Copyright notices go here, relating to WotC</div>
    <div>This website is open source! <a href="https://github.com/wesleystedman/deck-manager" target="_blank">See the project on GitHub here.</a></div>
</footer>

</body>

</html>