<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Deck Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <% if (user) { %>
            <a href="/decks?userid=<%= user.id %>">My Decks</a>
            <a href="/decks/new">Add Deck</a>
        <% } %>
        <a href="/decks">Public Decks</a>
        <% if (user) { %>
        <span>Logged in as <%= user.name %> </span>
        <a href="/logout">Log Out</a>
        <% } else { %>
        <a href="/auth/google">Log In with Google</a>
        <% } %>
    </nav>