<%- include('partials/header') %>

<h1>Deck Manager</h1>
<p>Welcome!  This is a deck manager for <a href="http://" target="_blank">Magic: the Gathering Arena</a>.  While this site can't interact with your Magic Arena account directly, I'm sure you'll find it much more convenient to come here than to open the client if you're looking to save a deck you found online or quickly sketch out an idea.</p>
<p>To get started, just sign in with your Google account, then use the links in the header to add or browse decks.</p>

<%- include('partials/footer') %>
