<%- include('partials/header') %>

<div class="container">
    <div class="row justify-content-center">
        <h1 id="landing-page-title" class="col">Wesley's Deck Manager</h1>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <p>Welcome! This is an unofficial, fan-made deck manager for <a href="https://magic.wizards.com/en/mtgarena"
                    target="_blank">Magic: The Gathering Arena</a>. While this site can't interact with your Magic Arena account
                directly, I'm sure you'll find it much more convenient to come here than to open the client if you're looking to
                save a deck you found online or quickly sketch out an idea.</p>
            <p>To get started, just sign in with your Google account, then use the links in the header to add or browse decks.</p>
        </div>
    </div>
</div>

<%- include('partials/footer') %>