body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.deck-list {
  list-style: none;
}

.deck-tile {
  background-color: grey;
  height: 8em;
  width: 13em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.deck-list-item {
  border: gray 2px solid;
  border-radius: 10px;
  padding: 0.5rem;
}

.footer-legal {
  text-align: justify;
}

.footer-github {
  text-align: center;
}

nav {
  font-size: 1.25rem;
}

#landing-page-title {
  text-align: center;
}

.deck-name {
  font-size: 2rem;
}

.deck-format {
  font-size: 1.4rem;
}