body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.deck-list {
  list-style: none;
}

.deck-tile {
  background-color: grey;
  height: 8em;
  width: 13em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.deck-list-item {
  border: gray 2px solid;
  border-radius: 10px;
  padding: 0.5rem;
}

.footer-legal {
  text-align: justify;
}

.footer-github {
  text-align: center;
}

nav {
  font-size: 1.25rem;
}

#landing-page-title {
  text-align: center;
}

.deck-name {
  font-size: 2rem;
}

.deck-format {
  font-size: 1.4rem;
}

.deck-form input, .deck-form textarea {
  width: 300px;
}


/* wubrg symbols */
.wubrg-w, .wubrg-u, .wubrg-b, .wubrg-r, .wubrg-g {
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.wubrg-w {
  background-color: yellow;
  background-image: none;
}
.wubrg-u {
  background-color: blue;
  background-image: none;
}
.wubrg-b {
  background-color: purple;
  background-image: none;
}
.wubrg-r {
  background-color: red;
  background-image: none;
}
.wubrg-g {
  background-color: green;
  background-image: none;
}
.wubrg-inactive {
  background-color: lightgray;
  /* add background image transformation */
}